"id","user_type_id","last_name","last_name_kana","first_name","first_name_kana","email","is_registered_basic_info","social_login_provider_type","social_login_auth_token","social_login_user_id","email_verified_at","email_verify_token","password","remember_token","logined_at","created_at","updated_at","deleted_at","common_attachment_id"
"1","3","山田","","太郎","","taro.yamada@example.com","0","0",,,,,,,,"1/1/2024 00:00:00","1/1/2024 00:00:00",,
"2","3","佐藤","","花子","","hanako.sato@example.com","0","0",,,,,,,,"1/1/2024 00:00:00","1/1/2024 00:00:00",,
